html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top_m .span4 .hotsearch li a {
  color: #666;
  text-decoration: none;
}

.top_h .icon .logn,
.top_h .icon .register,
.top_h .icon .east,
.cartlist .item dd em a {
  padding: 0 5px;
  color: #777;
  line-height: 1.5;
  text-decoration: none;
}

body {
  background-color: #F3F2F7;
}

.top_h {
  width: 1200px;
  margin: 0 auto;
  height: 23.8px;
  padding: 10px 0;
  background: #F3F2F7;
}

.top_h .span1 {
  width: 40%;
  float: left;
}

.top_h .icon {
  width: 60%;
  text-align: right;
  float: right;
  font-size: 12px;
  color: #777;
  line-height: 1.5;
}

.top_h .icon .span2_p {
  padding: 0 5px;
}

.top_h .icon img {
  padding: 0 5px;
}

.top_m {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background: #F3F2F7;
}

.top_m .span3 {
  float: left;
  width: 475px;
  padding-top: 5px;
}

.top_m .span4 {
  float: left;
  width: 725px;
}

.top_m .span4 .search_btn {
  float: left;
  border: 2px solid #223b61;
  margin-top: 10px;
  width: 538px;
}

.top_m .span4 .search_btn .search {
  width: 440px;
  border: none;
  outline: none;
  height: 18px;
  padding: 6px;
  color: #999;
}

.top_m .span4 .search_btn .button {
  width: 80px;
  height: 30px;
  border: none;
  background: #223b61;
  color: #fff;
  cursor: pointer;
}

.top_m .span4 .cart {
  float: left;
  margin: 10px 0 0 40px;
  font-size: 12px;
  line-height: 34px;
  border: 1px solid #ccc;
  width: 140px;
  text-align: center;
  cursor: pointer;
}

.top_m .span4 .cart .gouwuche {
  width: 22px;
  height: 16px;
  display: inline-block;
  background: url(../images/cart.png) no-repeat;
  position: relative;
  top: 3px;
  margin-right: 3px;
}

.top_m .span4 .cart .number {
  padding: 1px 9px;
  background: #FF7F00;
  color: #FFF;
  border-radius: 8px;
  font-size: 10px;
  line-height: 14px;
  display: inline-block;
  height: 14px;
  position: relative;
  top: -1px;
}

.top_m .span4 .cart .arrow {
  width: 6px;
  height: 9px;
  background: url(../images/icon.fw.png) -228px -84px no-repeat;
  position: relative;
  display: inline-block;
}

.top_m .span4 .hotsearch {
  float: left;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  margin: 10px 0 15px 0;
}

.top_m .span4 .hotsearch li {
  float: left;
  margin-left: 10px;
}

.top_f {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 2px solid #223b61;
}

.top_f .top_f_c {
  width: 1200px;
  margin: 0 auto;
  height: 45px;
  position: relative;
}

.top_f .top_f_c .allText {
  width: 212px;
  line-height: 47px;
  background: #223b61;
  color: #fff;
  cursor: default;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
}

.top_f .top_f_c .lvyou {
  padding: 0 30px;
  font-weight: 700;
}

.top_f .top_f_c .lvyou a {
  text-decoration: none;
  color: #000;
}

.top_f .top_f_c .banner {
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 99;
}

.ad {
  width: 100%;
  margin: 0 auto;
  height: 465px;
}

.ad .lunbo {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.ad .lunbo .chuxing {
  position: absolute;
  right: 0;
  top: 15px;
  width: 230px;
  height: 436px;
  font-size: 12px;
  background: #fff;
  z-index: 2;
}

.ad .lunbo .chuxing .chu_t {
  background: #5bb4fb;
  color: #fff;
  height: 38px;
  text-align: center;
  border: 1px solid #5bb4fb;
  font-size: 14px;
  line-height: 38px;
}

.ad .lunbo .chuxing .chu_t i {
  height: 20px;
  width: 30px;
  position: relative;
  top: 8px;
  display: inline-block;
  background: url(../images/homeIcon.png) center -139px no-repeat;
}

.ad .lunbo .chuxing .rightTop {
  position: relative;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.ad .lunbo .chuxing .rightTop label {
  display: inline-block;
  width: 115px;
  padding: 8px 0;
}

.ad .lunbo .chuxing .rightTop .input_l {
  text-align: left;
}

.ad .lunbo .chuxing .rightTop .input_l input {
  margin-left: 20px;
}

.ad .lunbo .chuxing .rightTop .input_r {
  text-align: right;
  width: 90px;
  padding-right: 20px;
}

.ad .lunbo .chuxing .rightDome {
  width: 190px;
  margin: 0 auto;
  padding: 5px 0;
  height: 250px;
  font-size: 12px;
  box-sizing: content-box;
}

.ad .lunbo .chuxing .rightDome .city {
  float: left;
}

.ad .lunbo .chuxing .rightDome .city .ll {
  width: 173px;
  display: inline-block;
}

.ad .lunbo .chuxing .rightDome .city .ll .cityInput {
  width: 190px;
  margin-top: 5px;
}

.ad .lunbo .chuxing .rightDome .city .ll .cityInput input {
  height: 28px;
  width: 160px;
  outline: 0;
  line-height: 28px;
  padding-left: 5px;
  margin-top: 3px;
  border: 1px solid #eee;
  box-sizing: content-box;
}

.ad .lunbo .chuxing .rightDome .city .rr {
  float: right;
  width: 17px;
  margin-top: 29px;
  height: 71px;
  background: url(../images/homeIcon.png) 0 -344px no-repeat;
}

.ad .lunbo .chuxing .rightDome .city .rr .change {
  margin-top: 25px;
  float: left;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background: #59A5F0;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}

.ad .lunbo .chuxing .rightDome .cb {
  clear: both;
  padding-top: 5px;
  width: 190px;
}

.ad .lunbo .chuxing .rightDome .cb input {
  width: 183px;
  height: 28px;
  outline: 0;
  line-height: 28px;
  padding-left: 5px;
  margin-top: 3px;
  border: 1px solid #eee;
  box-sizing: content-box;
}

.ad .lunbo .chuxing .rightDome .bottom {
  width: 190px;
  height: 30px;
  margin-top: 5px;
}

.ad .lunbo .chuxing .rightDome .bottom a {
  color: #fff;
  width: 190px;
  height: 30px;
  line-height: 30px;
  background: #FF7F00;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.ad .lunbo .chuxing ul {
  width: 190px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

.ad .lunbo .chuxing ul li {
  float: left;
  width: 63px;
  height: 40px;
  margin: 0 0 5px 0;
  position: relative;
}

.ad .lunbo .chuxing ul li a {
  width: 50px;
  height: 40px;
  display: block;
  color: #444;
  text-decoration: none;
}

.ad .lunbo .chuxing ul li a i {
  display: block;
  padding-top: 25px;
}

.ad .lunbo .chuxing ul li .huafei {
  background: url(../images/phoneB.png) no-repeat 10px 0;
  background-size: 30px 30px;
  text-align: center;
}

.ad .lunbo .chuxing ul li .hotel {
  background-size: 30px 30px;
  text-align: center;
  background: url(../images/hotel.png) no-repeat 10px 0;
}

.ad .lunbo .chuxing ul .middle {
  text-align: center;
}

.ad .lunbo .chuxing ul .middle a {
  padding: 0 11px;
}

.ad .lunbo .chuxing ul .middle .airplane {
  background-size: 30px 30px;
  text-align: center;
  background: url(../images/airplane.png) no-repeat 20px 0;
}

.ad .lunbo .chuxing ul .last {
  text-align: right;
}

.ad .lunbo .chuxing ul .last a {
  padding: 0 0 0 15px;
}

.ad .lunbo .chuxing ul .last .buscard {
  background-size: 30px 30px;
  text-align: center;
  background: url(../images/aotoA.png) no-repeat 25px 0;
}

.ad .lunbo #left {
  width: 28px;
  height: 75px;
  cursor: pointer;
  position: absolute;
  top: 195px;
  left: 210px;
  background: url(../images/icon.fw.png) no-repeat -177px -400px;
  z-index: 30;
}

.ad .lunbo #right {
  width: 28px;
  height: 75px;
  cursor: pointer;
  position: absolute;
  top: 195px;
  right: 230px;
  background: url(../images/icon.fw.png) no-repeat -209px -400px;
  z-index: 30;
}

.menu {
  position: relative;
  z-index: 3;
}

.menu ul {
  overflow: hidden;
  height: 450px;
  background-color: #fefefe;
  color: #636363;
  width: 212px;
  padding-bottom: 15px;
}

.menu ul li {
  height: 30px;
  line-height: 30px;
  padding-left: 18px;
  position: relative;
}

.menu ul li a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.menu ul li .arr_right {
  position: absolute;
  top: 11px;
  right: 8px;
  width: 4px;
  height: 8px;
  background: url(../images/icon.fw.png) -228px -71px no-repeat;
  font-size: 12px;
}

.menu ul li.active {
  background-color: #d9d9d9;
}

.cartlist {
  position: absolute;
  left: 210px;
  top: 0;
  width: 986px;
  min-height: 460px;
  border: 2px solid #D6E9FC;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: top 0.3s ease;
}

.cartlist .item {
  display: none;
  width: 986px;
}

.cartlist .item b {
  float: left;
  width: 120px;
  line-height: 22px;
  text-align: center;
  padding: 3px 6px 0 0;
  font-size: 12px;
}

.cartlist .item dd {
  border-top: 1px solid #eeeeee;
  width: 860px;
  float: left;
  padding: 3px 0 10px;
  overflow: hidden;
}

.cartlist .item dd em {
  float: left;
  font-size: 12px;
  line-height: 14PX;
  padding: 0 8PX;
  margin-top: 5px;
  border-left: 1px solid #eeeeee;
}

.lunbotu {
  width: 100%;
  height: 465px;
  position: relative;
  overflow: hidden;
}

.lunbotu ul li img {
  position: absolute;
  width: 100%;
  height: 465px;
  top: 0;
  left: 50%;
  margin-left: -50%;
  z-index: 1;
}

.lunbotu ul li {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 465px;
  left: 0px;
  bottom: 0;
  right: 0;
  top: 0px;
  opacity: 0;
}

.main .recommend {
  width: 1200px;
  margin: 10px auto 0;
}

.main .recommend .recommend_l {
  width: 210px;
  height: 150px;
  font-size: 18px;
  text-align: center;
  background: #d6d6d6;
  float: left;
}

.main .recommend .recommend_l p {
  width: 60px;
  height: 52px;
  background: url(../images/icon.fw.png) no-repeat 0 0;
  margin: 38px auto 0;
}

.main .recommend .span5 {
  width: 990px;
  overflow: hidden;
}

.main .recommend .span5 ul {
  width: 100%;
  height: 168px;
}

.main .recommend .span5 ul li {
  width: 25%;
  float: left;
}

.main .phone {
  width: 1200px;
  height: 516px;
  margin: 0 auto;
}

.main .phone .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
  overflow: hidden;
}

.main .phone .title .title_l {
  width: 40%;
  font-size: 18px;
  float: left;
}

.main .phone .title .title_l span {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/icon.fw.png) 0 -59px no-repeat;
}

.main .phone .title .title_l strong {
  padding-left: 40px;
}

.main .phone .title .title_r {
  width: 60%;
  text-align: right;
  float: left;
}

.main .phone .title .title_r span {
  height: 38px;
  line-height: 38px;
  display: inline-block;
  padding: 0 23px;
  cursor: pointer;
}

.main .phone .t_span {
  color: #5BB4FB;
  font-weight: 700;
}

.main .phone .span6 {
  width: 320px;
  float: left;
}

.main .phone .span6 .span6_img {
  position: relative;
  width: 100%;
  height: 295px;
  overflow: hidden;
}

.main .phone .span6 .span6_img .txt {
  width: 100%;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  z-index: 1;
}

.main .phone .span6 .span6_img .txt a {
  color: #ffffff;
  text-decoration: none;
}

.main .phone .span6 .span6_img .mask {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  background: #000;
  opacity: .5;
}

.main .phone .span6 .words {
  font-size: 12px;
  background: #e8e8e3;
  width: 100%;
  height: 158px;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

.main .phone .span6 .words a {
  color: #94948d;
  line-height: 240%;
  width: 28.3%;
  padding-left: 4%;
  float: left;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

.main .phone .span6 .words .border {
  border-right: 1px solid #fff;
}

.main .phone .span7 {
  width: 880px;
  height: 473px;
  float: left;
}

.main .phone .span7 div {
  width: 880px;
  height: 473px;
  display: none;
}

.main .phone .span7 div li {
  float: left;
}

.main .phone .span7 div li img {
  cursor: pointer;
}

.main .phone .span7 .c_show {
  display: block;
}

.main .phone .content_2 li,
.main .phone .content_3 li,
.main .phone .content_4 li,
.main .phone .content_5 li,
.main .phone .content_6 li {
  width: 25%;
  height: 236px;
  background: #fff;
  outline: 1px solid #f3f2f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.main .phone .content_2 li img,
.main .phone .content_3 li img,
.main .phone .content_4 li img,
.main .phone .content_5 li img,
.main .phone .content_6 li img {
  height: 130px;
  width: 130px;
  margin-top: 6px;
  text-align: center;
  align-self: center;
  overflow: hidden;
}

.main .phone .content_2 li h6,
.main .phone .content_3 li h6,
.main .phone .content_4 li h6,
.main .phone .content_5 li h6,
.main .phone .content_6 li h6 {
  font-weight: normal;
  margin: 6px 15px 0;
  height: 36px;
  overflow: hidden;
  line-height: 150%;
}

.main .phone .content_2 li span,
.main .phone .content_3 li span,
.main .phone .content_4 li span,
.main .phone .content_5 li span,
.main .phone .content_6 li span {
  color: #ff4c4c;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 3px 0 -3px 12px;
}

.main .phone .content_2 li p,
.main .phone .content_3 li p,
.main .phone .content_4 li p,
.main .phone .content_5 li p,
.main .phone .content_6 li p {
  margin: 0 15px;
  line-height: 26px;
  color: #a5a5a5;
}

.main .beauty {
  width: 1200px;
  height: 516px;
  margin: 0 auto;
}

.main .beauty .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
  overflow: hidden;
}

.main .beauty .title .title_l {
  width: 40%;
  font-size: 18px;
  float: left;
}

.main .beauty .title .title_l span {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/icon.fw.png) 0 -94px no-repeat;
}

.main .beauty .title .title_l strong {
  padding-left: 40px;
}

.main .beauty .title .title_r {
  width: 60%;
  text-align: right;
  float: left;
}

.main .beauty .title .title_r span {
  height: 38px;
  line-height: 38px;
  display: inline-block;
  padding: 0 23px;
  cursor: pointer;
}

.main .beauty .t_span {
  color: #5BB4FB;
  font-weight: 700;
}

.main .beauty .span6 {
  width: 320px;
  float: left;
}

.main .beauty .span6 .span6_img {
  position: relative;
  width: 100%;
  height: 295px;
  overflow: hidden;
}

.main .beauty .span6 .span6_img .txt {
  width: 100%;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  z-index: 1;
}

.main .beauty .span6 .span6_img .txt a {
  color: #ffffff;
  text-decoration: none;
}

.main .beauty .span6 .span6_img .mask {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  background: #000;
  opacity: .5;
}

.main .beauty .span6 .words {
  font-size: 12px;
  background: #e8e8e3;
  width: 100%;
  height: 158px;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

.main .beauty .span6 .words a {
  color: #94948d;
  line-height: 240%;
  width: 28.3%;
  padding-left: 4%;
  float: left;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

.main .beauty .span6 .words .border {
  border-right: 1px solid #fff;
}

.main .beauty .span7 {
  width: 880px;
  height: 473px;
  float: left;
}

.main .beauty .span7 div {
  width: 880px;
  height: 473px;
  display: none;
}

.main .beauty .span7 div li {
  float: left;
}

.main .beauty .span7 div li img {
  cursor: pointer;
}

.main .beauty .span7 .c_show {
  display: block;
}

.main .beauty .content_2 li,
.main .beauty .content_3 li,
.main .beauty .content_4 li,
.main .beauty .content_5 li,
.main .beauty .content_6 li {
  width: 25%;
  height: 236px;
  background: #fff;
  outline: 1px solid #f3f2f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.main .beauty .content_2 li img,
.main .beauty .content_3 li img,
.main .beauty .content_4 li img,
.main .beauty .content_5 li img,
.main .beauty .content_6 li img {
  height: 130px;
  width: 130px;
  margin-top: 6px;
  text-align: center;
  align-self: center;
  overflow: hidden;
}

.main .beauty .content_2 li h6,
.main .beauty .content_3 li h6,
.main .beauty .content_4 li h6,
.main .beauty .content_5 li h6,
.main .beauty .content_6 li h6 {
  font-weight: normal;
  margin: 6px 15px 0;
  height: 36px;
  overflow: hidden;
  line-height: 150%;
}

.main .beauty .content_2 li span,
.main .beauty .content_3 li span,
.main .beauty .content_4 li span,
.main .beauty .content_5 li span,
.main .beauty .content_6 li span {
  color: #ff4c4c;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 3px 0 -3px 12px;
}

.main .beauty .content_2 li p,
.main .beauty .content_3 li p,
.main .beauty .content_4 li p,
.main .beauty .content_5 li p,
.main .beauty .content_6 li p {
  margin: 0 15px;
  line-height: 26px;
  color: #a5a5a5;
}

.main .baihuo {
  width: 1200px;
  height: 516px;
  margin: 0 auto;
}

.main .baihuo .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
  overflow: hidden;
}

.main .baihuo .title .title_l {
  width: 40%;
  font-size: 18px;
  float: left;
}

.main .baihuo .title .title_l span {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/icon.fw.png) 0 -129px no-repeat;
}

.main .baihuo .title .title_l strong {
  padding-left: 40px;
}

.main .baihuo .title .title_r {
  width: 60%;
  text-align: right;
  float: left;
}

.main .baihuo .title .title_r span {
  height: 38px;
  line-height: 38px;
  display: inline-block;
  padding: 0 23px;
  cursor: pointer;
}

.main .baihuo .t_span {
  color: #5BB4FB;
  font-weight: 700;
}

.main .baihuo .span6 {
  width: 320px;
  float: left;
}

.main .baihuo .span6 .span6_img {
  position: relative;
  width: 100%;
  height: 295px;
  overflow: hidden;
}

.main .baihuo .span6 .span6_img .txt {
  width: 100%;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  z-index: 1;
}

.main .baihuo .span6 .span6_img .txt a {
  color: #ffffff;
  text-decoration: none;
}

.main .baihuo .span6 .span6_img .mask {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  background: #000;
  opacity: .5;
}

.main .baihuo .span6 .words {
  font-size: 12px;
  background: #e8e8e3;
  width: 100%;
  height: 158px;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

.main .baihuo .span6 .words a {
  color: #94948d;
  line-height: 240%;
  width: 28.3%;
  padding-left: 4%;
  float: left;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

.main .baihuo .span6 .words .border {
  border-right: 1px solid #fff;
}

.main .baihuo .span7 {
  width: 880px;
  height: 473px;
  float: left;
}

.main .baihuo .span7 div {
  width: 880px;
  height: 473px;
  display: none;
}

.main .baihuo .span7 div li {
  float: left;
}

.main .baihuo .span7 div li img {
  cursor: pointer;
}

.main .baihuo .span7 .c_show {
  display: block;
}

.main .baihuo .content_2 li,
.main .baihuo .content_3 li,
.main .baihuo .content_4 li,
.main .baihuo .content_5 li,
.main .baihuo .content_6 li {
  width: 25%;
  height: 236px;
  background: #fff;
  outline: 1px solid #f3f2f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.main .baihuo .content_2 li img,
.main .baihuo .content_3 li img,
.main .baihuo .content_4 li img,
.main .baihuo .content_5 li img,
.main .baihuo .content_6 li img {
  height: 130px;
  width: 130px;
  margin-top: 6px;
  text-align: center;
  align-self: center;
  overflow: hidden;
}

.main .baihuo .content_2 li h6,
.main .baihuo .content_3 li h6,
.main .baihuo .content_4 li h6,
.main .baihuo .content_5 li h6,
.main .baihuo .content_6 li h6 {
  font-weight: normal;
  margin: 6px 15px 0;
  height: 36px;
  overflow: hidden;
  line-height: 150%;
}

.main .baihuo .content_2 li span,
.main .baihuo .content_3 li span,
.main .baihuo .content_4 li span,
.main .baihuo .content_5 li span,
.main .baihuo .content_6 li span {
  color: #ff4c4c;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 3px 0 -3px 12px;
}

.main .baihuo .content_2 li p,
.main .baihuo .content_3 li p,
.main .baihuo .content_4 li p,
.main .baihuo .content_5 li p,
.main .baihuo .content_6 li p {
  margin: 0 15px;
  line-height: 26px;
  color: #a5a5a5;
}

.main .dianqi,
.main .package,
.main .motion,
.main .watch {
  width: 1200px;
  height: 516px;
  margin: 0 auto;
}

.main .dianqi .title,
.main .package .title,
.main .motion .title,
.main .watch .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
  overflow: hidden;
}

.main .dianqi .title .title_l,
.main .package .title .title_l,
.main .motion .title .title_l,
.main .watch .title .title_l {
  width: 40%;
  font-size: 18px;
  float: left;
}

.main .dianqi .title .title_l span,
.main .package .title .title_l span,
.main .motion .title .title_l span,
.main .watch .title .title_l span {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/icon.fw.png) -204px 0 no-repeat;
}

.main .dianqi .title .title_l strong,
.main .package .title .title_l strong,
.main .motion .title .title_l strong,
.main .watch .title .title_l strong {
  padding-left: 40px;
}

.main .dianqi .title .title_r,
.main .package .title .title_r,
.main .motion .title .title_r,
.main .watch .title .title_r {
  width: 60%;
  text-align: right;
  float: left;
}

.main .dianqi .title .title_r span,
.main .package .title .title_r span,
.main .motion .title .title_r span,
.main .watch .title .title_r span {
  height: 38px;
  line-height: 38px;
  display: inline-block;
  padding: 0 23px;
  cursor: pointer;
}

.main .dianqi .t_span,
.main .package .t_span,
.main .motion .t_span,
.main .watch .t_span {
  color: #5BB4FB;
  font-weight: 700;
}

.main .dianqi .span6,
.main .package .span6,
.main .motion .span6,
.main .watch .span6 {
  width: 320px;
  float: left;
}

.main .dianqi .span6 .span6_img,
.main .package .span6 .span6_img,
.main .motion .span6 .span6_img,
.main .watch .span6 .span6_img {
  position: relative;
  width: 100%;
  height: 295px;
  overflow: hidden;
}

.main .dianqi .span6 .span6_img .txt,
.main .package .span6 .span6_img .txt,
.main .motion .span6 .span6_img .txt,
.main .watch .span6 .span6_img .txt {
  width: 100%;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  z-index: 1;
}

.main .dianqi .span6 .span6_img .txt a,
.main .package .span6 .span6_img .txt a,
.main .motion .span6 .span6_img .txt a,
.main .watch .span6 .span6_img .txt a {
  color: #ffffff;
  text-decoration: none;
}

.main .dianqi .span6 .span6_img .mask,
.main .package .span6 .span6_img .mask,
.main .motion .span6 .span6_img .mask,
.main .watch .span6 .span6_img .mask {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  background: #000;
  opacity: .5;
}

.main .dianqi .span6 .words,
.main .package .span6 .words,
.main .motion .span6 .words,
.main .watch .span6 .words {
  font-size: 12px;
  background: #e8e8e3;
  width: 100%;
  height: 158px;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

.main .dianqi .span6 .words a,
.main .package .span6 .words a,
.main .motion .span6 .words a,
.main .watch .span6 .words a {
  color: #94948d;
  line-height: 240%;
  width: 28.3%;
  padding-left: 4%;
  float: left;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

.main .dianqi .span6 .words .border,
.main .package .span6 .words .border,
.main .motion .span6 .words .border,
.main .watch .span6 .words .border {
  border-right: 1px solid #fff;
}

.main .dianqi .span7,
.main .package .span7,
.main .motion .span7,
.main .watch .span7 {
  width: 880px;
  height: 473px;
  float: left;
}

.main .dianqi .span7 div,
.main .package .span7 div,
.main .motion .span7 div,
.main .watch .span7 div {
  width: 880px;
  height: 473px;
  display: none;
}

.main .dianqi .span7 div li,
.main .package .span7 div li,
.main .motion .span7 div li,
.main .watch .span7 div li {
  float: left;
}

.main .dianqi .span7 div li img,
.main .package .span7 div li img,
.main .motion .span7 div li img,
.main .watch .span7 div li img {
  cursor: pointer;
}

.main .dianqi .span7 .c_show,
.main .package .span7 .c_show,
.main .motion .span7 .c_show,
.main .watch .span7 .c_show {
  display: block;
}

.main .dianqi .content_2 li,
.main .dianqi .content_3 li,
.main .dianqi .content_4 li,
.main .dianqi .content_5 li,
.main .dianqi .content_6 li,
.main .package .content_2 li,
.main .package .content_3 li,
.main .package .content_4 li,
.main .package .content_5 li,
.main .package .content_6 li,
.main .motion .content_2 li,
.main .motion .content_3 li,
.main .motion .content_4 li,
.main .motion .content_5 li,
.main .motion .content_6 li,
.main .watch .content_2 li,
.main .watch .content_3 li,
.main .watch .content_4 li,
.main .watch .content_5 li,
.main .watch .content_6 li {
  width: 25%;
  height: 236px;
  background: #fff;
  outline: 1px solid #f3f2f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.main .dianqi .content_2 li img,
.main .dianqi .content_3 li img,
.main .dianqi .content_4 li img,
.main .dianqi .content_5 li img,
.main .dianqi .content_6 li img,
.main .package .content_2 li img,
.main .package .content_3 li img,
.main .package .content_4 li img,
.main .package .content_5 li img,
.main .package .content_6 li img,
.main .motion .content_2 li img,
.main .motion .content_3 li img,
.main .motion .content_4 li img,
.main .motion .content_5 li img,
.main .motion .content_6 li img,
.main .watch .content_2 li img,
.main .watch .content_3 li img,
.main .watch .content_4 li img,
.main .watch .content_5 li img,
.main .watch .content_6 li img {
  height: 130px;
  width: 130px;
  margin-top: 6px;
  text-align: center;
  align-self: center;
  overflow: hidden;
}

.main .dianqi .content_2 li h6,
.main .dianqi .content_3 li h6,
.main .dianqi .content_4 li h6,
.main .dianqi .content_5 li h6,
.main .dianqi .content_6 li h6,
.main .package .content_2 li h6,
.main .package .content_3 li h6,
.main .package .content_4 li h6,
.main .package .content_5 li h6,
.main .package .content_6 li h6,
.main .motion .content_2 li h6,
.main .motion .content_3 li h6,
.main .motion .content_4 li h6,
.main .motion .content_5 li h6,
.main .motion .content_6 li h6,
.main .watch .content_2 li h6,
.main .watch .content_3 li h6,
.main .watch .content_4 li h6,
.main .watch .content_5 li h6,
.main .watch .content_6 li h6 {
  font-weight: normal;
  margin: 6px 15px 0;
  height: 36px;
  overflow: hidden;
  line-height: 150%;
}

.main .dianqi .content_2 li span,
.main .dianqi .content_3 li span,
.main .dianqi .content_4 li span,
.main .dianqi .content_5 li span,
.main .dianqi .content_6 li span,
.main .package .content_2 li span,
.main .package .content_3 li span,
.main .package .content_4 li span,
.main .package .content_5 li span,
.main .package .content_6 li span,
.main .motion .content_2 li span,
.main .motion .content_3 li span,
.main .motion .content_4 li span,
.main .motion .content_5 li span,
.main .motion .content_6 li span,
.main .watch .content_2 li span,
.main .watch .content_3 li span,
.main .watch .content_4 li span,
.main .watch .content_5 li span,
.main .watch .content_6 li span {
  color: #ff4c4c;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 3px 0 -3px 12px;
}

.main .dianqi .content_2 li p,
.main .dianqi .content_3 li p,
.main .dianqi .content_4 li p,
.main .dianqi .content_5 li p,
.main .dianqi .content_6 li p,
.main .package .content_2 li p,
.main .package .content_3 li p,
.main .package .content_4 li p,
.main .package .content_5 li p,
.main .package .content_6 li p,
.main .motion .content_2 li p,
.main .motion .content_3 li p,
.main .motion .content_4 li p,
.main .motion .content_5 li p,
.main .motion .content_6 li p,
.main .watch .content_2 li p,
.main .watch .content_3 li p,
.main .watch .content_4 li p,
.main .watch .content_5 li p,
.main .watch .content_6 li p {
  margin: 0 15px;
  line-height: 26px;
  color: #a5a5a5;
}

.main .package {
  width: 1200px;
  height: 516px;
  margin: 0 auto;
}

.main .package .title .title_l span {
  background: url(../images/icon.fw.png) -237px 0 no-repeat;
}

.main .motion {
  width: 1200px;
  height: 516px;
  margin: 0 auto;
}

.main .motion .title .title_l span {
  background: url(../images/icon.fw.png) -269px 0 no-repeat;
}

.main .watch {
  width: 1200px;
  height: 516px;
  margin: 0 auto;
}

.main .watch .title .title_l span {
  background: url(../images/icon.fw.png) -204px -32px no-repeat;
}

.loutinav {
  width: 160px;
  font-size: 14px;
  position: fixed;
  top: 50%;
  left: 10px;
  display: none;
  margin-top: -110px;
  z-index: 99;
}

.loutinav dl:hover dd {
  color: #fff;
  background-position: 0 0;
}

.loutinav dl:hover dt {
  display: block;
}

.loutinav dl {
  height: 31px;
  padding: 5px 0;
  line-height: 31px;
  cursor: pointer;
}

.loutinav dl dt {
  text-align: right;
  width: 120px;
  overflow: hidden;
  color: #ff7f00;
  float: left;
  display: none;
}

.loutinav dl dd {
  background: url(../images/homeIcon.png) 0 -52px no-repeat;
  color: #444;
  width: 31px;
  float: right;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  transition: all .5s;
}

.loutinav .on dt {
  display: block;
}

.loutinav .on dd {
  background-position: 0 0;
  color: #fff;
}

.footer .footer_img {
  width: 100%;
  background: #223b61;
  margin: 20px 0 0;
}

.footer .footer_img .footer_t {
  margin: 0 auto;
  width: 1200px;
  height: 60px;
}

.footer .footer_img .footer_t img {
  width: 1200px;
  height: 60px;
}

.footer .footer_link {
  width: 100%;
  height: 205px;
  padding: 40px 0;
}

.footer .footer_link .f_link_c {
  width: 1200px;
  margin: 0 auto;
}

.footer .footer_link .f_link_c ul {
  float: left;
  width: 16%;
  margin-left: 40px;
}

.footer .footer_link .f_link_c ul .ul_t {
  font-size: 14px;
  color: #666;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer .footer_link .f_link_c ul li {
  color: #89898a;
  height: 25px;
  font-size: 12px;
  line-height: 200%;
}

.footer .footer_link .f_link_c ul li a {
  color: #89898a;
  text-decoration: none;
}

.footerline {
  height: 1px;
  width: 100%;
  background: #E8E8E8;
  clear: both;
}

.footer .footer_down {
  width: 100%;
  height: 35.2px;
  font-size: 12px;
  text-align: center;
  color: #89898A;
  margin: 40px 0;
}

.footer .footer_down a {
  color: #000;
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */