*{
    margin: 0;
    padding: 0;
}
ul,
ol,
li {
    list-style: none;
}
header{
    height: 92px;
    
    background: #fff;
}
section{
    width: 1200px;
    margin: 0 auto;
    
}
nav{
    width: 1200px;
    padding-top: 40px;
    
}
nav a{
    color: #444;
    text-decoration: none;
}

h1{
    float: right;
    font-size: 18px;
    color: #999;
    font-weight: 400;
}
h1 a{
    color: #cb1d36;
}

.moudle{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 1px solid #f7f7f7;
}

.moudle li{
    line-height: 100px;
    display: inline-block;
    padding: 0 50px;
    color: #cb1e36;
    border-bottom: 4px solid #cb1e36;
}
.realName{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 12px;
    color: #666;
    background: #fff4e5;
    padding-left: 16px;
}

.span1,.span2,.span3,.span4{
    width: 500px;
    position: absolute;
    top: 20px;
    left: 320px;
}
.registryContent{
    padding: 100px 0;
    width: 1200px;
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column;
}
tbody{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.key{
    text-align: right;
    height: 60px;
    color: #666;
    width: 100px;
    font-size: 12px;
    line-height: 60px;
}
.value{
    width: 338px;
    padding-left: 12px;
    position: relative;
}
input{
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    outline: 0;
    box-shadow: none;
    font-size: 12px;
}
.username,.zhengjian,.password,.tel{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 284px;
    height: 20px;
    padding: 10px 8px;
}

#login{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #cb1e36;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    align-self: center;
}
.footer{
    background: #223b61;
}
.footer li{
    cursor: pointer;
}
.footer .ul1{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.footer .ul1 li{
    float: left;
    font-size: 14px;
    width: 25%;
    text-align: center;
    color: #fff;
}
.f_li{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.ul2{
    float: left;
    width: 25%;
    font-size: 12px;
    text-align: center;
    color: rgba(255,255,255,.6);
}
.ul2 li{
    line-height: 30px;
}